__pycache__
*.pytest_cache
venv/
# .env
*.db
*.idea
*.ruff_cache
# Ignore large or private files
1_datasets/raw/*
1_datasets/processed/*
*.zip
*.sav
*.dta

# Ignore system files
.DS_Store
Thumbs.db
__pycache__/
*.pyc
