__pycache__
*.pytest_cache
venv/
# .env
*.db
*.idea
*.ruff_cache
# Ignore large or private files
1_datasets/raw/*
1_datasets/processed/teds_a_2023_cleaned.csv
1_datasets/processed/teds_analysis_ready.csv
1_datasets/processed/teds_ml_ready.csv
*.zip
*.sav
*.dta

# Ignore system files
.DS_Store
Thumbs.db
__pycache__/
# Ignore specific file teds a ml ready
.C:\Users\nobody\OneDrive\Desktop\VSCODE 25\SUD\SUD repo\ELO2_Asclepios_Ai\1_datasets\raw\teds_ml_ready.csv
